Repository p1ass/id, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, backend, docs, proto, ui

.github/labeler.yml:

ci:
  - .github/**/*
backend:
  - backend/**/*
docs:
  - docs/**/*
proto:
  - proto/**/*
ui:
  - ui/**/*

split by space
  ui/pages/api/oauth2/authorize.ts
Labels: ui

change directory name from gen to generated
  backend/generated/oidc/v1/oidc.pb.go
  backend/generated/oidc/v1/oidcv1connect/oidc.connect.go
  backend/main.go
  backend/oidc/odic.go
  proto/buf.gen.yaml
  ui/generated/oidc/v1/oidc_connectweb.ts
  ui/generated/oidc/v1/oidc_pb.ts
  ui/lib/api/oidc.ts
  ui/pages/api/oauth2/authorize.ts
Labels: backend, proto, ui

use AuthorizeRequestSchema on consent page
  ui/app/oauth2/authorize/consent/page.tsx
  ui/lib/oauth2/connect.ts
  ui/lib/oauth2/types.ts
  ui/pages/api/oauth2/authorize.ts
Labels: ui

delete default api route file
  ui/pages/api/hello.ts
Labels: ui

fix ignore path
  ui/.prettierignore
Labels: ui

add router
  ui/app/oauth2/authorize/consent/page.tsx
  ui/app/oauth2/authorize/consent/route.ts
  ui/app/page.tsx
  ui/lib/oauth2/types.ts
  ui/pages/api/oauth2/authorize.ts
  ui/pages/api/oauth2/route.ts
Labels: ui

introduce tailwindcss
  ui/app/globals.css
  ui/package.json
  ui/postcss.config.js
  ui/tailwind.config.js
  ui/yarn.lock
Labels: ui

add tailwind eslint plugin
  ui/.eslintrc.json
  ui/package.json
  ui/yarn.lock
Labels: ui

add theme setting
  ui/tailwind.config.js
Labels: ui

user tailwind css
  ui/app/oauth2/authorize/consent/page.tsx
  ui/app/page.tsx
  ui/postcss.config.js
Labels: ui

change AuthorizePage to client side rendering
  ui/app/oauth2/authorize/consent/page.tsx
  ui/package.json
  ui/yarn.lock
Labels: ui

refactor form component
  ui/app/oauth2/authorize/consent/page.tsx
Labels: ui

write documents about backend container image build
  backend/README.md
Labels: backend

add dependabot
  .github/dependabot.yml
Labels: ci

add grant_type structs
  backend/oidc/internal/grant_type.go
  backend/oidc/internal/grant_type_test.go
Labels: backend

implement grant type check
  backend/oidc/odic.go
Labels: backend

verify authorization code
  backend/oidc/odic.go
Labels: backend

implement access token type
  backend/oidc/internal/access_token.go
  backend/oidc/odic.go
Labels: backend

bump labeler
  .github/workflows/label.yaml
Labels: ci

searchParams may be null
  ui/app/oauth2/authorize/consent/page.tsx
Labels: ui

migrate head.tsx to Metadata API
  ui/app/head.tsx
  ui/app/layout.tsx
Labels: ui

fix to pass compile because of duplicating name of Routing Handler
  ui/app/oauth2/authorize/consent/router.ts
  ui/pages/api/oauth2/authorize.ts
Labels: ui

generate using connect-es instead of connect-web
  backend/generated/oidc/v1/oidc.pb.go
  backend/generated/oidc/v1/oidcv1connect/oidc.connect.go
  proto/Makefile
  proto/buf.gen.yaml
  ui/generated/oidc/v1/oidc_connect.ts
  ui/generated/oidc/v1/oidc_pb.ts
Labels: backend, proto, ui

fix to compile error using connect-node
  ui/lib/oauth2/connect.ts
  ui/package.json
  ui/yarn.lock
Labels: ui

fix package default name
  backend/generated/oidc/v1/oidc.pb.go
  backend/generated/oidc/v1/oidcv1connect/oidc.connect.go
  proto/buf.gen.yaml
Labels: backend, proto

Set import_extension to empty because of fixing import issues
  proto/buf.gen.yaml
  ui/generated/oidc/v1/oidc_connect.ts
Labels: proto, ui

update Readme
  README.md
Labels: none

update README
  README.md
Labels: none

initialize terraform projects
  README.md
  terraform/.env.template
  terraform/.envrc
  terraform/.gitignore
  terraform/Makefile
  terraform/README.md
  terraform/envs/dev/.terraform.lock.hcl
  terraform/envs/dev/main.tf
  terraform/envs/dev/terragrunt.hcl
  terraform/envs/terragrunt.hcl
  terraform/modules/.gitkeep
Labels: none
