Repository p1ass/id, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, backend, docs, proto, ui

.github/labeler.yml:

ci:
  - .github/**/*
backend:
  - backend/**/*
docs:
  - docs/**/*
proto:
  - proto/**/*
ui:
  - ui/**/*

[backend] move client test to internal_test package
  backend/oidc/internal/client.go
  backend/oidc/internal/client_test.go
Labels: backend

[backend] add go-cmp dependency
  backend/go.mod
  backend/go.sum
Labels: backend

[backend] add client authentication logic
  backend/gen/oidc/v1/oidcv1connect/oidc.connect.go
  backend/oidc/internal/client.go
  backend/oidc/internal/client_test.go
  backend/oidc/internal/password.go
  backend/oidc/internal/response_type_test.go
  backend/oidc/odic.go
  proto/oidcapis/oidc/v1/oidc.proto
  proto/spec.md
Labels: backend, proto

[backend] fix to remove client authentication when authorize endpoint
  backend/oidc/internal/client.go
  backend/oidc/internal/client_test.go
  backend/oidc/odic.go
Labels: backend

[backend] add authentication error response
  backend/oidc/odic.go
  proto/oidcapis/oidc/v1/oidc.proto
Labels: backend, proto

[backend] add flextime to dependency
  backend/go.mod
  backend/go.sum
Labels: backend

[backend] add authorization code generate logic
  backend/oidc/internal/code.go
  backend/oidc/internal/code_datestore.go
  backend/oidc/internal/code_test.go
  backend/oidc/odic.go
Labels: backend

[backend] add consented parameter
  backend/gen/oidc/v1/oidc.pb.go
  backend/gen/oidc/v1/oidcv1connect/oidc.connect.go
  backend/oidc/odic.go
  proto/oidcapis/oidc/v1/oidc.proto
  proto/spec.md
Labels: backend, proto

[ui] add next.js bootstrap code
  ui/.eslintrc.json
  ui/.gitignore
  ui/README.md
  ui/app/globals.css
  ui/app/head.tsx
  ui/app/layout.tsx
  ui/app/page.module.css
  ui/app/page.tsx
  ui/next.config.js
  ui/package.json
  ui/pages/api/hello.ts
  ui/public/favicon.ico
  ui/public/next.svg
  ui/public/thirteen.svg
  ui/public/vercel.svg
  ui/tsconfig.json
  ui/yarn.lock
Labels: ui

add /oauth2/authorize page
  ui/app/layout.tsx
  ui/app/oauth2/authorize/page.tsx
  ui/app/page.module.css
  ui/app/page.tsx
  ui/next.config.js
Labels: ui

execute yarn lint on ci
  .github/workflows/ui.yaml
Labels: ci

execute only when related files are changed
  .github/workflows/buf.yaml
  .github/workflows/go.yaml
  ui/app/globals.css
Labels: ci, ui

fix: initialize in-memory datastore
  backend/oidc/odic.go
Labels: backend

add cors handler for client request
  backend/go.mod
  backend/go.sum
  backend/main.go
Labels: backend

generate connect web client
  proto/Makefile
  proto/buf.gen.yaml
  ui/gen/oidc/v1/oidc_connectweb.ts
  ui/gen/oidc/v1/oidc_pb.ts
Labels: proto, ui

call connect-web api temporary
  ui/app/oauth2/authorize/page.tsx
  ui/package.json
  ui/yarn.lock
Labels: ui

fix url equal verification logic
  backend/oidc/internal/client.go
Labels: backend

insert dummy client fixture
  backend/oidc/odic.go
Labels: backend

fill authenticate api arguments
  ui/app/oauth2/authorize/page.tsx
  ui/app/oauth2/callback/page.tsx
Labels: ui

use PlainMessage for non undefined
  ui/app/oauth2/authorize/page.tsx
Labels: ui

use PlainMessage for non undefined
  ui/app/oauth2/authorize/page.tsx
  ui/app/oauth2/token/page.tsx
Labels: ui

set conformance test redirect uri
  backend/oidc/odic.go
Labels: backend

pass argument from query parameter
  ui/app/oauth2/authorize/page.tsx
Labels: ui

set no-store parameter for dynamic rendering
  ui/app/oauth2/authorize/page.tsx
Labels: ui

fix compile error
  ui/app/oauth2/authorize/page.tsx
Labels: ui

add vercel config files to .gitignore
  .gitignore
Labels: none

implement basic auth for debug
  ui/.env.example
  ui/middleware.ts
Labels: ui

remove console log
  ui/middleware.ts
Labels: ui

add server-only dependencies
  ui/package.json
  ui/yarn.lock
Labels: ui

extract api call function to another file
  ui/app/oauth2/authorize/page.tsx
  ui/lib/api/oidc.ts
Labels: ui

add todo comment
  backend/oidc/odic.go
  ui/app/oauth2/authorize/page.tsx
  ui/app/page.tsx
  ui/pages/api/hello.ts
  ui/pages/api/oauth2/authorize.ts
Labels: backend, ui

execute reviewdog when backend changed
  .github/workflows/reviewdog.yaml
Labels: ci

change action name
  .github/workflows/ui.yaml
Labels: ci

add prettier
  ui/.eslintrc.json
  ui/.prettierignore
  ui/.prettierrc
  ui/app/layout.tsx
  ui/app/oauth2/authorize/page.tsx
  ui/app/oauth2/token/page.tsx
  ui/lib/api/oidc.ts
  ui/middleware.ts
  ui/package.json
  ui/yarn.lock
Labels: ui

check format on ci
  ui/package.json
Labels: ui

add mvp consent page
  ui/app/oauth2/authorize/consent/page.tsx
  ui/app/oauth2/authorize/page.tsx
  ui/app/page.tsx
  ui/lib/api/oidc.ts
  ui/package.json
  ui/pages/api/oauth2/authorize.ts
  ui/yarn.lock
Labels: ui

backend does not use state, ui uses
  backend/gen/oidc/v1/oidc.pb.go
  backend/gen/oidc/v1/oidcv1connect/oidc.connect.go
  backend/oidc/odic.go
  proto/oidcapis/oidc/v1/oidc.proto
  proto/spec.md
  ui/gen/oidc/v1/oidc_connectweb.ts
  ui/gen/oidc/v1/oidc_pb.ts
Labels: backend, proto, ui

refactor authorize api
  ui/lib/searchParam.ts
  ui/pages/api/oauth2/authorize.ts
Labels: ui

return invalid client id and invalid redirect uri error
  backend/oidc/odic.go
  ui/pages/api/oauth2/authorize.ts
Labels: backend, ui

add comment
  ui/pages/api/oauth2/authorize.ts
Labels: ui
